



  <div class="row">
  <div class="col s12">
    <div class="row home-top">
      <div class="">
        <h5 class="center-align">
          <img  class='center-align homePagePic'src="./img/facePic6.png" alt="" />
        </h5>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="">
      <h3 class="center-align">
        face of few emotions
      </h3>
    </div>
    <div class="">
      <p class="center-align">
          This app pulls random youtube videos and uses emotion detection to show if you are happy, sad, angry or suprized
        </p>
    </div>
  </div>


  <div class="col s8">
    <login></login>
  </div>


  <div class="col s4">
    <signup></signup>
  </div>
</div>
