<div class="row">
  <h4>Signup</h4>
  <form class="col s12" ng-submit='signupController.submit(userName, password)'>
    <div class="row">
      <div class="input-field col s12">
        <input id="user_name" placeholder="User Name" ng-model='userName'type="text" class="validate">
      </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" placeholder="Password" ng-model='password'type="password" class="validate">
      </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
    </button>
  </form>
</div>
